body {
	font-family:Arial,sans-serif;
	margin-left: 10%;
	margin-right: 10 %;
	color: black;
	background-color: ivory;
}

div.indented { 
	margin-left: 4%
}

span.capi {
	font-variant:small-caps; 
	font-style:italic
}

h1 {
	color: DarkBlue;
	margin-left: -0%;
}

h2 {
	color: Green;
	margin-left: +2 %;
}

b {
	color: Red;
}

img { 

}